
.App {
  margin: 2rem;
  height: 100vh;
}

.container {
  display: grid;
  height: 80%;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;

  border: 5px solid var(--primary-color);
  border-radius: 8px;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.logo {
  margin-top: 16px;
  font-size: 3em;
  font-weight: 700;
}